html, body {
  margin: 0;
  /* background-color: slategrey; */
  /* background-color: #615C37; */
  background-color: #a9a379;
  font-family: Helvetica, sans-serif;
}



h1 {
  font-size: 30px bold;
  /* font-family: 'Lobster Two', cursive; */
  font-family: 'Candal', sans-serif;
  line-height: 58px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px bold;
  font-family: 'Candal', sans-serif;
  line-height: 58px;
  text-align: center;
  color: white;
}

h3 {
  font-size: 10px bold;
  font-family: 'Candal', sans-serif;
  line-height: 58px;
  text-align: center;
  color: white;
}

p {
  color: white;
}

/*Strip the ul of padding and list styling*/

#nav {
	max-width: 90%;
	margin: 20px 20px 20px 20px;
	align-content: 
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

/*Create a horizontal list with spacing*/

li {
  display: inline-block;
  margin-right: 2px;
}

/*Style for menu links*/

li a {
  display: block;
  min-width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Candal', sans-serif;
  color: #fff;
  background: #a9a379;
  text-decoration: none;
  padding: 5px 13px 5px 13px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid orange;
  text-decoration: none;
  font-weight: bold;
  
}

/*Hover state for top level links*/

li:hover a {
  background: #F78D00;
}

/*Style for dropdown links*/

/* li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
} */

/*Hover state for dropdown links*/

li:hover ul a:hover {
  background: #19c589;
  color: #A64E06;
}

/*Hide dropdown links until they are needed*/

li ul {
  display: none;
}

/*Make dropdown links vertical*/

li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/

li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/

ul li a:hover+.hidden, .hidden:hover {
  display: block;
}

/*
nav {
  /* border: 5px;
} */

/*
nav ul {
  margin: 0px;
  list-style-type: none;
  padding: 10px 0px 10px 0px;
}

nav ul li {
  display: inline;
  padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
  color: #orange;
  border-bottom: 3px;
  border-bottom-style: dashed;
}

nav ul li.selected {
  background-color: #c8b99c;
} */

/* .grey-background {
  background-color: #615C37;
} */

/* .grey-background h1 {
  color: white;
}

.grey-background h2 {
  color: rgba(255, 255, 255, 0.6)
} */

.center {
  display: block;
  /* margin-left: auto;
  margin-right: 0; */
  margin: 0 auto 0 auto;
  text-align: center;
}

.welcome_image {
  width: 60%;
  margin 0px;
  
}

.section {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 32px 32px 32px 32px;
}

.section-head {
  padding: 5px 30px 10px 30px;
  color: #ff9630;
  border: 5px;
}

.testimonial {
  padding: 20px 0;
  margin: 0;
  /* margin: 0 auto 0 auto; */
  /* color: white; */
  border-left: 0px
}

.testimonial img {
  width: 120px;
  float: right;
  margin-left: 40px;
  radius: 30%;
}

/* .testimonial p {
  font-size: 20px;
  /* color: orange; */

}


.testimonial cite {
  color: lightgrey;
}

.contact-group {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
}

.button {
  border: 2px solid white;
  padding: 13px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  color: orange;
  background-color: white;
}

#banner {
  text-align: center;
  /* background-image: url("https://unsplash.it/1300/600?random"); */
  background-image: url("./background_images.js");
  /* background-image: url("images/brueggli_sunset.jpg"); */
  background-size: 120%;
  /* background-position-y: center;
  background-position-x: center; */
  /* background-position: 100px 5px; */
  background-position: center center;
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
	
	
	
	
	
	
	
	
	
  /*
.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
  background-color: #d0451b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
  background-color: #bc3315;
} */